.cf-island {
  --padding: 0;
  box-sizing: border-box;
  position: relative;
  background-color: var(--island-bg-color);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-island);
  padding: calc(var(--padding) * var(--space-factor));
}
